.Weather {
   width: 15%;
   margin: 50px auto;
  border: 20px;
  border-radius: 10px;
  padding: 40px 40px;
  color: #008787;
background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);}

#enterCity {border-radius: 15px;   padding: 5px 5px; margin: 5px 15px;}

body {
  text-align: center; font-size: smaller;
}
h1 {
  font-family: "Franklin Gothic Medium", Arial Narrow, Arial, sans-serif;
}
.WeatherTemp,
#fahrenheit,
#celcius,
.barrier {
  font-size: 25px;
}
#topSearch,
#Use-Curr {background-color: #04dcdc; 
  color: #000000; 
  border-radius: 15px;  
  padding: 5px 5px; 
  margin: 5px 5px; }

#EndCode {text-align: center; font-size: smaller;}
#temp-descript {text-transform: capitalize;
font-size: 25px;}

.active {
  color: #008787;
  cursor: default;
}
#tempEmoji {
 image-rendering: auto;
  max-width: 55px;
}

.weather-forcast {margin-top: 20px;
text-align: center;color:#0156B3;}

.forecast-temp {font-size: 12px;}
.fore-temp-min {opacity: 0.6;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
