.card {
   width: 75%;
   margin: 50px auto;
  border: 20px;
  border-radius: 10px;
  padding: 40px 40px;
  color: #008787;
background: linear-gradient(to top, #cdd3ff 0%, #bdc5ff 1%, #e09cf8 100%);
}
#enterCity {border-radius: 15px;   padding: 5px 5px; margin: 5px 15px;}

body {
  text-align: center; font-size: smaller;
}
h1 {
  font-family: "Franklin Gothic Medium", Arial Narrow, Arial, sans-serif;
}
#currentTemp,
#fahrenheit,
#celcius,
.barrier {
  font-size: 30px;
}
#topSearch,
#Use-Curr {background-color: #04dcdc; 
  color: #000000; 
  border-radius: 15px;  
  padding: 5px 5px; 
  margin: 5px 5px; }

#EndCode {text-align: center; font-size: smaller;}
#temp-descript {text-transform: capitalize;
font-size: 25px;}

.active {
  color: #008787;
  cursor: default;
}
#fahrenheit:hover,
#celcius:hover {
  text-decoration: none;
}

#tempEmoji {
 image-rendering: auto;
  max-width: 55px;
}

.weather-forcast {margin-top: 20px;
text-align: center;color:#0156B3;}

.forecast-temp {font-size: 12px;}
.fore-temp-min {opacity: 0.6;}
